.anime-card {
    display: flex
}

.anime-card__cover {
    min-width: 151px;
}

.anime-card__content {
    width: 100%;
}

.anime-card__text {
    margin: 10px 15px 15px 15px;
}

.anime-card__progress {
    margin: 0
}

.anime-card__progress-text {
    font-size: 12px;
    color: #898989;
    margin: 0 15px
}

.anime-card__text-header {
    font-size: 16px;
    display: inline-block;
}