.episodes__list {
    flex: 1
}

.episodes__item {
    padding: 10px 0 10px 10px;
    display: flex;
    width: 100%
}

.episodes__number {
    margin: auto 0;
    line-height: 1;
    margin-right: 15px
}

.episode__name {
    fontSize: 12px;
    color: #898989;
    max-width: 260px;
}

.arches__root {
    margin-top: 8px
}

.arch {
    display: flex;
    padding: 0 5px;
    background-color: #f50057;
    border-bottom: 1px solid white;
    overflow: hidden;
    cursor: default;
}

.arch__filler {
    opacity: 0.5;
    background: white;
    width: 22px;
    position: absolute;
    height: 59.2px;
    z-index: 3;
    margin-left: -5px;
    transition: 250ms;
}

.arch__filler:hover {
    opacity: 0.7;
}

.arch__text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    color: white;
    margin: 5px 0;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap;
}

.arch__progress {
    margin-left: -5px;
    width: 22px;
    position: absolute;
    z-index: 0;
    background-color: #3f51b5;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.arch__progress-percent {
    font-size: 8px;
    color: white;
    vertical-align: bottom;
    padding: 4px;
    z-index: 3;
}

@media screen and (max-width: 959.95px) {
    .episode__name {
        max-width: 220px;
    }
}

@media screen and (max-width: 320px) {
    .episode__name {
        max-width: 180px;
    }
}