.user-info__root {
    text-align: center;
    padding: 20px;
}

.user-info__header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.user-info__name {
    margin: auto 10px;
    font-size: 18px;
    color: #404040;
    text-transform: uppercase;
}