@media screen and (max-width: 630px) {
    .hide-630px {
        display: none
    }
}

.episode-name {
    margin: auto 10px;
    line-height: 1
}

.toolbar {
    padding: 15px;
    background: white
}

.toolbar__buttons {
    display: flex;
    max-width: calc(70vw + 12px);
    margin: auto;
    justify-content: center
}

.toolbar__anime-info {
    max-width: 70vw;
    margin: 10px auto auto;
}

.toolbar__anime-data {
    margin-left: 5px;
}

.toolbar__author-info {
    margin-bottom: 15px;
    display: flex;
    align-items: center
}

.toolbar__author-info__text {
    margin-left: 5px
}

.toolbar__uploader {
    font-size: 12px;
    color: #898989;
    margin-left: 5px;
    display: inline-flex
}

.not-found {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex
}

.not-found__content {
    margin: auto;
    color: white
}

.background-poster {
    background-position: center;
    background-size: cover
}

.background-poster__blur {
    width: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.2);
}

.top-toolbar {
    color: white;
    display: flex;
    padding: 10px 0;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
}

.footer {
    background-color: white;
    padding: 25px
}

.footer__text {
    max-width: 70vw;
    margin: auto
}